.warning {
    background-color: yellow;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Opcional para centrar verticalmente */
  }