.CardsContainer{
    display: flex;
    flex-wrap: wrap;

}
.card{
    padding-top: 10px;
    width: 330px;
    height: 360px;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
      flex: 1 1 300px;
     margin: 10px;
    background-color: rgb(132, 160, 220);
    text-decoration: none;
    border: solid 2px black;
    border-radius: 20px;
    gap: 20px;
    text-align: center;
    font-size: medium;
    text-decoration: none;
}
a {
  text-decoration: none;
  /* otros estilos de los hipervínculos */
}

.cardImg{
    border-radius: 25px;
    width: 230px;
    height: 220px;
}