.img-c{
    display: flex;
    flex-direction: row;
    align-items: flex-end;

}
.containerT{
    border-color: black solid 2rem;
    width: 60px;
    height: 60px;
}
footer {
    border-color: black solid 2rem;
    width: 60px;
    height: 60px;
}
.node{
    width: 60px;
    height: 60px;
}
.redux{ 
    width: 110px;
    height: 70px;
}
.express{    
    width: 110px;
    height: 70px;
}
.react{    
    width: 60px;
    height: 60px;
}
